<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcy.backend.mapper.UserCrowdMapper">

    <resultMap id="BaseResultMap" type="com.mcy.backend.entity.UserCrowd">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="crowdId" column="crowd_id" jdbcType="INTEGER"/>
            <result property="joinTime" column="join_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,crowd_id,
        join_time
    </sql>
</mapper>
